<!-- Main Sidebar Container -->

{% extends "app.html" %} {% block content %} {%load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Change Password</h1>
				</div>
				<!-- /.col -->
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<div class="col-lg-6 col-md-6 col-sm-12 col-offset-2 container-fluid">
		<form
			role="form"
			method="post"
			action="/update_password"
			enctype="multipart/form-data"
		>
			{% csrf_token %}
			<div class="card-body">
				<div class="form-group">
					<input
						type="hidden"
						value="{{selected_data.id}}"
						name="id"
					/>
					<label for="new_password">New Password</label>
					<input
						type="text"
						class="form-control"
						name="new_password"
					/>
				</div>
				<div class="form-group">
					<label for="confirm_password">Confirm Password</label>
					<input
						type="password"
						class="form-control"
						name="confirm_password"
					/>
				</div>
			</div>

			<!-- /.card-body -->
			<div class="card-footer">
				<button type="submit" class="btn btn-primary" value="Submit">
					Submit
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
